// ngx-context menu

.ngx-contextmenu {
  .dropdown-menu {
    li {
      padding: 0.2rem 0.5rem;
      a {
        color: $black;
        text-decoration: none;
        display: block;
      }
      &:hover {
        background: $black;
        a {
          color: $white;
        }
      }
    }
  }
}
