@import '../../styles.scss';

footer {
  background-color: $footer-bg;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0px 20px;
  a {
    color: #000;
  }
  .vertical-divider {
    width: 1px;
    height: 60%;
    background: #000;
    margin: 0 18px;
  }
}
